@charset "UTF-8";

.wrapper{margin-top: 20px; margin-bottom:40px;}
	.sellAll{width: 90%; margin: 100px auto 0px auto; postion:relative;line-height: 1.6}
	.sell{width: 350px; 
		  display: inline-block; 
		  margin-left: 100px; 
		  margin-bottom:50px;
		  box-shadow: 0 2px 40px 0 rgba(0,0,0,0.07);
		  transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
		  transition-delay: .1s;
		  transform: translateZ(0);
		  }
	.sell:hover{
				cursor:pointer;	
				opacity: 1 !important;
			    box-shadow: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px, rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px, rgba(49,49,49,0.05) 0px 32px 32px, rgba(35,35,35,0.05) 0px 64px 64px;
			    transform: translate(0, -4px);
			    z-index: 999;
				}
	.sellDiv{width: 100%; height: 300px;}
	.sellPic{width: 100%; height: 210px;}
	.sellName{width: 100%; height: 10%; font-size: 20px; font-weight:bold;margin-top:10px;text-align:center;}
	.sellName>a{color: black !important;}
	.sellName>a:visited{color: gray !important;}
	.sellId{width: 100px; height: 10%; display:inline-block; margin-right:100px;}
	.views{width:40px; display:inline-block;}
	.sellPrice{width: 80px; height: 10%; display:inline-block;text-align:right; text-align: right;}
	.btn_standard {
			    border: 1px solid #dad4d4;
			    border-radius: 6px;
			    background-color: #fff;
			    font-weight: 500;
			    color: #666;
			    cursor: pointer;
			    font-size: 12px;
			    padding: 10px;
				}
	
	.insideWrap{
				border-top:1px solid #dad4d4;
				margin-top:7px;
				padding: 10px;
				}
	
	#write-btn{
		position: absolute;
		margin-top: -38px;
		right: 180px;
/*  		margin-right: -10px;  */
	}
	
	.emptyCom{font-weight: bold; 
			  font-size:1.2em;
			  display:inline-block;
			  heigth:50px;
			  vertical-align:top;
			  }

/* 	.marketFilterForm{position:absolute; width: 300px; display:inline-block; left:44%;} */
/* 	.marketSelect>option{padding: 5px;} */
	.form_wrap{margin:30px auto 0 auto; width: 340px; position:relative;}
	#selectBox{
	  display: block;
	  margin-left: 85%;
	  }
	.select-box {
	  position: relative;
	  display: inline-block;
	  width: 85px;
	  margin: 40px auto 0 auto;
	  font-size: 0.9em;
	  color: #60666d;
      border: 1px solid #dad4d4;
	  }
	.select-box__current {
	  position: relative;
	  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
	  cursor: pointer;
	  outline: none;
	  }
	.select-box__current:focus + .select-box__list {
	  opacity: 1;
	  animation-name: none;
	  }
	.select-box__current:focus + .select-box__list .select-box__option {
	  cursor: pointer;
	  }
	.select-box__current:focus .select-box__icon {
	  transform: translateY(-50%) rotate(180deg);
	  }
	.select-box__icon {
	  position: absolute;
	  top: 50%;
	  right: 15px;
	  transform: translateY(-50%);
	  width: 15px;
	  opacity: 0.3;
	  transition: 0.2s ease;
	  }
	.select-box__value {
	  display: flex;
	  }
	.select-box__input {
	  display: none;
	  }
	.select-box__input:checked +.select-box__input-text {
	  display: block;
	  }
	.select-box__input-text {
	  display: none;
	  width: 100%;
	  margin: 0;
	  padding: 8px;
	  background-color: #fff;
	  }
	.select-box__list {
	  position: absolute;
	  width: 100%;
	  padding: 0;
	  list-style: none;
	  opacity: 0;
	  animation-name: HideList;
	  animation-duration: 0.5s;
	  animation-delay: 0.5s;
	  animation-fill-mode: forwards;
	  animation-timing-function: step-start;
	  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
	  }
	.select-box__option {
	  display: block;
	  padding: 8px;
	  background-color: #fff;
	  }
	.select-box__option:hover, .select-box__option:focus {
	  color: #546c84;
	  background-color: #fbfbfb;
	  }
	
	@keyframes HideList {
	  from {
	            transform: scaleY(1);
	  }
	  to {
	            transform: scaleY(0);
	  }
	}
	
 	.search_input{height:37px; margin:0 5px; vertical-align:bottom; border:1px solid #dad4d4;} 
	
/* 	#btn_search{board:1px solid black; } */
	
/* 	#write-btn{float: right; */
/* 				margin-right: 344px; */
/* 			   }	 */
	.pagingArea{margin-top: 90px;}	
	
	.img{width:100%; height:400px;}
	.header_wrap{background-color:rgba(0, 0, 0, 0.5); width:100%; height: 400px;position:absolute;top:0;}
	#headcomment{
	position: absolute;
	left: 45%;
	top: 220px;
	color: white;
	font-size: 1.5em;}