@charset "UTF-8";

	#all{margin-top: 20px; margin-bottom: 40px;}
	#menu{width:50%; margin-left: 222px; font-size:30px; font-weight:bold;}
	#line1{width: 80%; background: lightgray; height:2px; margin: auto; margin-top: 20px;}
	#line2{width: 80%; background: lightgray; height:2px; margin: auto; margin-top: 20px;}
	.sellAll{width: 80%; margin: 40px 0px 0px 200px;}

  	#content2{overflow-x:hidden; overflow-y:auto; white-space:pre-wrap; border: 1px solid #ccccce; border-radius:5px;
  			  height: 450px; padding: 15px;} 
	#content3{width: 65%; margin-left:100px;}
	#content4{width: 65%; margin-left:14.5%;} 
	#content5{width: 61.8%; margin-left:150px; margin-bottom:30px;} 

	#title{font-size:30px; width: 50%; font-weight:bold; margin-top: 20px; display: inline-block; margin-left: 130px;} 
	#hit{display: inline-block; width: 7%; float:right; margin-top: 30px; margin-right: 160px;} 
	#date{display: inline-block; width: 8%; float:right; margin:30px 20px 0 0}
	
	#sellPic{width: 27%; 
			 height: 400px; 
			 margin-left : 240px; 
			 margin-top: 20px; 
			 margin-bottom: 20px; 
			 display: inline-block;}
 	#img{width: 100% !important; height: 500px;} 
	#itemName{display: inline-block; font-size: 30px; color: #474561; font-weight:bold;margin-left: 220px; margin-top:20px;}

	.content_wrap{display:inline-block;
				  vertical-align:top;
				  width: 40%;
				  margin-top:30px;
				  margin-left:150px;
				  font-size:1.5em;}
	.content_wrap>div{margin-bottom:20px;}
	
	.btn_standard {
			    border: 1px solid #dad4d4;
			    border-radius: 6px;
			    background-color: #fff;
			    font-weight: 500;
			    color: #666;
			    cursor: pointer;
			    font-size: 12px;
			    padding: 12px;
				}
	.btn_standard:hover{font-weight:900;}
	
	#name{display: inline-block; margin-top: 30px; float:right; margin-right: 50px;}  
 	#sellContent{width: 80%; min-height: 200px; border:none; font-size: 16px;}
 	
 	
 	/* 댓글작성 */
	.reply1_box{width: 800px; height: auto; margin-left: 100px; padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px;border: dotted; border-color: rgb(201, 232, 255);}
	.comment2-1img{width: 38px; height: 38px; border-radius: 100%; margin-top: 5px; margin-left: 10px; margin-bottom: 5px; margin-right: 10px; vertical-align: middle;}
	.dong{line-height: 50px; display: inline; margin-left: 10px; margin-right: 10px;}
	.reply1_btn{margin-right: 25px; 
				float:right; 
				height:25px; 
				outline:0; 
				cursor: pointer; 
				border: 1px solid #dad4d4;
    			border-radius: 6px;
    			background-color: #fff;
   				color: #666;
    			font-size: 1em;
    			padding:3px;}
	.reply_TEXT{border-radius:0.34em; border-color: lightgrey; resize:none;}
/* 	.counter{color:#aaa; float: right; margin-top: 55px; margin-right: 15px;} */

	/* 원댓글  */	
	.reply2_box{width: 80%; height: auto; margin-left: 200px; margin-top: 8px; padding:10px 20px;border: solid; border-color: rgb(201, 232, 255);}
	.reply2_box_btn{cursor: pointer; float: right; margin-top: 15px; margin-right: 15px; border:0;}
	.reply2_box_btn2{cursor: pointer;margin-left: 10px; margin-top: 10px; margin-bottom: 10px;  border:0; outline:0;}
	.fa-thumbs-up{cursor: pointer; float: right; margin-top: 10px; margin-right: 10px;}
	.modify_btn{display:inline-block;
				margin-right: 25px; 
				margin-top:7px;
				float:right; 
				width:70px; 
				height:25px; 
				outline:0; 
				cursor: pointer;
				border: 1px solid #dad4d4;
    			border-radius: 6px;
    			background-color: #fff;
   				color: #666;
    			font-size: 1em;
    			padding:3px;}
	.mdBtn{float:right;
			width:70px; 
			height:25px; 
			display:inline-block;
			border: 1px solid #dad4d4;
    		border-radius: 6px;
    		background-color: #fff;
   			color: #666;
    		font-size: 1em;
    		padding:3px;}
	.delete_btn{margin-bottom: 10px;
				margin-top:7px; 
				float:right; 
				width:70px; 
				height:25px; 
				cursor: pointer; 
				outline:0; 
				border: 1px solid #dad4d4;
    			border-radius: 6px;
    			background-color: #fff;
   				color: #666;
    			font-size: 1em;
    			padding:3px;}
	.profileImg {
			    width: 38px;
			    height: 38px;
			    border-radius: 100%;
			    margin-top: 5px;
			    margin-left: 10px;
			    margin-bottom: 5px;
			    margin-right: 10px;
			    vertical-align: middle;
				}
	/* 대댓글  */	
	.reply3_box{width: 763px; height: auto; margin-left: 140px; background-color: rgb(201, 232, 255); padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px; margin-top: 8px;}
 	
 	
 	#content4>textarea{readonly; 
 						resize:none; 
 						border:none;
 						width: 75%; 
 						margin: 20px 0px 14px 50px; 
 						ont-size:18px; 
 						font-weight: bold; 
 						min-height: 34px;}
 	#content4>textarea:focus {outline: none;}
 	
 	#btn{float:right; margin: 20px 220px 0px 0px;}
 	.btn{margin-left:10px;
		border: 1px solid #ccccce;
	    border-radius: 6px;
	    background-color: #fff;
	    font-weight: 500;
	    color: #666;
	    cursor: pointer;
	    font-size: 12px;
	    padding: 7px;
	    width: 65px;} 
	.btn:hover{background:skyblue;}
 	#replyInput{width:80% ; 
 				height: 184px;
 				margin: 100px 0px 0px 200px; 
 				border:2px dashed #dad4d4; 
 				} 
 	#rWrite{border: 1px solid black; 
 			width: 75%; 
 			margin: 0px 0px 0px 30px; 
 			height:100px;}  
 	 
 	#rProfile{width: 40px; 
 			  hieght:40px; 
 			  margin-top: 10px;
 			  display:inline-block;}
 	#rImg{border-radius: 50%;  
 		  width: 100%; 
 		  height:100%;}  
 	#rWriter{vertical-align: middle; 
 			 margin-top: -8px; 
 			 margin-right: 10px; 
 			 margin-left:10px;
 			 width:7%;}
	#rHo{vertical-align: middle; 
		 margin-top: -28px;}
 	.rCreateDate{display:inline-block; 
 				 margin-left: 20px;}
 	#info{display: inline-block;  
 		  height:50px; 
 		  margin-left: 30px; 
 		  width:80%;}
 	#info2{display: inline-block;  
 		   height:50px; 
 		   margin-top: 12px; 
 		   margin-left: 30px; 
 		   width:100%;}
 	.info{display: inline-block;} 
 	#insertBtn{width: 75px;  
 			   margin-top: 20px;} 
 	
 	.rOuter{width: 65%; margin-left:100px;}
 	 .reply{width:80% ; 
 	 		margin: 10px 0px 0px 200px; 
 	 		border: 1px solid black; }  
 	.rreply{width: 110%; 
 			margin: 10px 0px 0px 200px; 
 			border: 1px solid black; 
 			background: skyblue; }
 			
 	#rContent{width: 75%; margin: 20px 0px 0px 50px; border:none; font-size:18px; font-weight: bold; min-height: 34px;} 
 	#rUpdateBtnAjax{margin-left: 29px;}  
 	#rDeleteBtnAjax{margin-left: 16px;}  
 	
 	#rrUpdateBtn{width: 70px; margin-left: 617px;}  
 	#replyDate{width: 12%; font-size: 12px; color: gray; margin-left: 10px; margin-top: 29px; margin-right:500px;}
 	#rreplyDate{width: 12%; font-size: 12px; color: gray; margin-left: 10px;     margin-top: 29px; margin-right: 372px; vertical-align: top;}
 	#rrContent{background: skyblue;}
 	#replyBtn{margin: 10px 0 10px 60px;}
 	
	.img{width:100%; height:400px;}
	.header_wrap{background-color:rgba(0, 0, 0, 0.5); width:100%; height: 400px;position:absolute;top:0;}
	#headcomment{
	position: absolute;
	left: 45%;
	top: 220px;
	color: white;
	font-size: 1.5em;}