<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="aptMapper">
	<insert id="aptInsert">
		INSERT INTO TB_APART VALUES(SEQ_APT.NEXTVAL,#{name},#{dong},#{address},#{tel},default,default,null)
	</insert>
	
	<select id="searchApt" resultMap="ApartResultMap">
			SELECT * FROM TB_APART WHERE APT_NAME LIKE '%'||#{text}||'%'
	</select>
	
	<resultMap type="Apart" id="ApartResultMap">
		<id property="id" column="APT_ID"/>
		<result property="name" column="APT_NAME"/>
		<result property="dong" column="APT_DONG"/>
		<result property="address" column="APT_ADDRESS"/>
		<result property="tel" column="APT_TEL"/>
		<result property="accept" column="APT_ACCEPT"/>
		<result property="delete" column="APT_DELETE"/>
		<result property="about" column="APT_ABOUT"/>
	</resultMap>
	
	<select id="donglist" resultType="string">
		SELECT APT_DONG FROM TB_APART WHERE APT_NAME=#{name}
	</select>
	
	<select id="aptDupName" resultType="_int">
      SELECT COUNT(*) FROM TB_APART WHERE APT_NAME=#{name}
   </select>


</mapper>
