<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clubMapper">
	 
	
	<select id="getListCount" resultType="_int">
		select count(*)
		from tb_club
			join tb_board using(board_no)
		where board_delete = 'N'
	</select>
	
	<select id="selectList" resultMap="clubResultSet">
		select club_name, board_no, club_intro, club_plan, club_place, club_etc, max_people, end_yn, file_name, nickname, count(j.user_id) club_people
		from tb_club c
			join tb_board b using(board_no)
            join tb_user u using(user_id)
            left join tb_file f using(board_no) 
            join tb_club_join j using(club_name)
		where board_delete = 'N'
        group by club_name, board_no, club_intro, club_plan, club_place, club_etc, max_people, end_yn, file_name, nickname
		order by board_no desc
	</select>
	
	<resultMap type="Club" id="clubResultSet">
		<id property="clubName" column="CLUB_NAME"/>
		<result property="boardNo" column="BOARD_NO"/>
		<result property="clubIntro" column="CLUB_INTRO"/>
		<result property="clubPlan" column="CLUB_PLAN"/>
		<result property="clubPlace" column="CLUB_PLACE"/>
		<result property="clubEtc" column="CLUB_ETC"/>
		<result property="maxPeople" column="MAX_PEOPLE"/>
		<result property="endYn" column="END_YN"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="nickName" column="NICKNAME"/>
		<result property="clubPeople" column="CLUB_PEOPLE"/>
	</resultMap>
	
	<select id="selectClub" resultMap="clubResultSet">
		select club_name, board_no, club_intro, club_plan, club_place, club_etc, max_people, end_yn, file_name , nickname, count(j.user_id) club_people
		from tb_club c
			join tb_board b using(board_no)
            join tb_user u using(user_id)
            left join tb_file f using(board_no) 
            join tb_club_join j using(club_name)
        where board_delete = 'N' and club_name = '수정 끝'
        group by club_name, board_no, club_intro, club_plan, club_place, club_etc, max_people, end_yn, file_name, nickname
	</select>
	
	
	<insert id="insertBoard">
		insert into tb_board
		values(SEQ_BOARD.NEXTVAL, '동호회', '동호회', sysdate, #{writer}, default, default)
	</insert>
	
	<insert id="insertClub">
		insert into tb_club
		values(#{clubName}, SEQ_BOARD.CURRVAL, #{clubIntro}, #{clubPlan}, #{clubPlace}, #{clubEtc}, #{maxPeople}, default)
	</insert>
	
	<insert id="insertClubMember">
		insert into tb_club_join
		values(#{clubName}, #{user})
	</insert>
	
	<insert id="insertFile">
		insert into tb_file
		values(SEQ_FILE.NEXTVAL, SEQ_BOARD.CURRVAL, #{renameFileName}, NULL, NULL)
	</insert>
	
	<update id="deleteClub">
		update tb_board
		set BOARD_DELETE = 'Y'
		where BOARD_NO = #{boardNo}
	</update>
	
	<insert id="insertComment">
		insert into tb_comment
		values(SEQ_REPLY.NEXTVAL, #{boardNo},default, #{rUserId}, #{rContent}, sysdate, 'N', default )
	</insert>
	
	<select id="selectComment" resultMap="CommentResultSet">
		select REPLY_NO, BOARD_NO, USER_ID, REPLY_CONTENT, COMMENT_DATE, DECYN, COMMENTS_DELETE, USER_FILE, NICKNAME
		from tb_comment
			join tb_user using(user_ID)
		where comments_delete = 'N' and board_no = #{boardNo}
		order by REPLY_NO DESC
	</select>
	
	<resultMap type="Comment" id="CommentResultSet">
		<id property="rNo" column="REPLY_NO"/>
		<result property="boardNo" column="BOARD_NO"/>
		<result property="rUserId" column="USER_ID"/>
		<result property="rContent" column="REPLY_CONTENT"/>
		<result property="rCreateDate" column="COMMENT_DATE"/>
		<result property="rDecYN" column="DECYN"/>
		<result property="rState" column="COMMENTS_DELETE"/>
		<result property="userFile" column="USER_FILE"/>
		<result property="nickname" column="NICKNAME"/>
	</resultMap>
	
	<update id="updateClub">
		update tb_club
		set club_name = #{clubName}, club_intro = #{clubIntro}, club_plan = #{clubPlan}, club_place = #{clubPlace}, club_etc = #{clubEtc}, max_people = #{maxPeople}
		where board_no = #{boardNo}
	</update>
	
	
</mapper>
