<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="freeMapper">
	<insert id="insertBoard">
	<if test="fileName != null">
		insert all
		into tb_board
		values(seq_board.nextval, #{boardTitle}, #{boardContent}, sysdate, 'userid', default, default)

		into tb_File
		values(seq_file.nextval, seq_board.currval, #{fileName}, null)
		
		select * from dual	
	</if>
	<if test="fileName == null">
		insert all
		into tb_board
		values(seq_board.nextval, #{boardTitle}, #{boardContent}, sysdate, 'userid', default, default)

		into tb_File
		values(seq_file.nextval, seq_board.currval, null, null)
		
		select * from dual	
	</if>
	

	</insert>



</mapper>
