<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mainMapper">
	<select id="getRealNoticeList" resultMap="noticeResultSet">
		<![CDATA[
		select *
		from
		(select *
		from tb_notice
        join tb_user using(user_id)
		order by notice_date desc)
		where rownum < 6 and notice_delete = 'N' and apt_name = #{aptName}
		]]>
	</select>
	<select id="getRealFreeBoard" resultMap="boardResultSet">
		<![CDATA[
		select *
		from
		(select b.board_no, b.board_title, b.board_content, b.create_date, b.user_id, b.board_count, b.board_delete
		from tb_free f
		     join tb_board b on(f.board_no = b.board_no)
             join tb_user u on(b.user_id = u.user_id)
		where b.board_delete = 'N' and u.apt_name = #{aptName}
		order by b.create_date desc)
		where rownum < 6
		]]>
	</select>
	<select id="getRealClub" resultMap="clubResultSet">
		<![CDATA[
		select *
		from
		(select c.club_name, c.board_no, c.club_intro, c.club_plan, c.club_place, c.club_etc, c.max_people, c.end_yn, f.file_name
		from tb_club c
			join tb_board b on(c.board_no = b.board_no)
            join tb_user u on(b.user_id = u.user_id)
            left join tb_file f on(c.board_no = f.board_no) 
		where board_delete = 'N' and apt_name = #{aptName}
		order by b.create_date desc)
		where rownum < 6
		]]>
	</select>
	<resultMap type="Notice" id="noticeResultSet">
		<id property="nNo" column="NOTICE_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="nTitle" column="NOTICE_TITLE"/>
		<result property="nContent" column="NOTICE_CONTENT"/>
		<result property="nCreateDate" column="NOTICE_DATE"/>
		<result property="nStatus" column="NOTICE_DELETE"/>
		<result property="nCount" column="NOTICE_COUNT"/>
 		<result property="renameFileName" column="FILE_NAME"/>
	</resultMap>
	<resultMap type="FreeBoard" id="boardResultSet">
		<id property="boardNo" column="board_No"/>
		<result property="boardTitle" column="board_Title"/>
		<result property="boardContent" column="board_Content"/>
		<result property="createDate" column="create_Date"/>
		<result property="userId" column="user_Id"/>
		<result property="boardCount" column="board_Count"/>
		<result property="boardDelete" column="board_Delete"/>
	</resultMap>
	<resultMap type="Club" id="clubResultSet">
		<id property="clubName" column="CLUB_NAME"/>
		<result property="boardNo" column="BOARD_NO"/>
		<result property="clubIntro" column="CLUB_INTRO"/>
		<result property="clubPlan" column="CLUB_PLAN"/>
		<result property="clubPlace" column="CLUB_PLACE"/>
		<result property="clubEtc" column="CLUB_ETC"/>
		<result property="maxPeople" column="MAX_PEOPLE"/>
		<result property="endYn" column="END_YN"/>
		<result property="fileName" column="FILE_NAME"/>
	</resultMap>
</mapper>