<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<select id="dupid" resultType="_int">
		SELECT COUNT(*) FROM TB_USER WHERE USER_ID = #{id}
	</select>
	
	<insert id="InsertMember">
		INSERT INTO TB_USER VALUES(#{userId},#{userPwd},#{userName},#{nickName},#{phone},#{email},#{aptName},#{aptDong},#{aptHosu},#{userFile},#{userLevel},sysdate,default,default)
	</insert>
	
	<select id="LoginMember" parameterType="string" resultMap="MemberResult">
	 	SELECT * FROM TB_USER WHERE USER_ID = #{id} AND ACCEPT='Y' AND USER_DELETE = 'N'
	</select>
	
	<resultMap type="Member" id="MemberResult">
		<id column="USER_ID" property="userId" />
		<result column="USER_PWD" property="userPwd" />
		<result column="USER_NAME" property="userName" />
		<result column="NICKNAME" property="nickName" />
		<result column="PHONE" property="phone" />
		<result column="EMAIL" property="email" />
		<result column="APT_NAME" property="aptName" />
		<result column="APT_DONG" property="aptDong" />
		<result column="APT_HOSU" property="aptHosu" />
		<result column="USER_LEVEL" property="userLevel" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="USER_FILE" property="userFile" />
		<result column="USER_DELETE" property="status" />
	</resultMap>
	
	<select id="newCount" resultType="_int">
		SELECT COUNT(*) FROM TB_USER WHERE USER_LEVEL='2' AND ACCEPT='N' 
		UNION ALL
		SELECT COUNT(*) FROM TB_APART WHERE APT_ACCEPT='N'
	</select>
	
	<select id="memberCount" resultMap="MemberCount">
		SELECT COUNT(*) ALLP, NVL(COUNT(DECODE(ACCEPT,'Y',1,NULL)),0) ACCP,
               NVL(COUNT(DECODE(ACCEPT,'N',1,NULL)),0) DISACC, NVL(COUNT(DECODE(USER_DELETE,'Y',1,NULL)),0) DELP
		FROM TB_USER 
		WHERE USER_LEVEL IN ('1','2')
	</select>
	
	<resultMap type="MemberCount" id="MemberCount">
		<id column="ALLP" property="allMember"/>
		<result column="ACCP" property="accept"/>
		<result column="DISACC" property="disaccept"/>
		<result column="DELP" property="delete"/>
	</resultMap>
	
	<select id="memberList" resultMap="MemberResult">
		SELECT * FROM(SELECT * FROM TB_USER WHERE USER_LEVEL IN (1,2) AND ACCEPT = 'N' ORDER BY ROWNUM DESC ) WHERE ROWNUM BETWEEN 1 AND 5
	</select>
	
	<select id="dupNick" resultType="_int">
		SELECT COUNT(*) FROM TB_USER WHERE NICKNAME=#{nick}
	</select>
	
	<select id="memberAll" resultMap="MemberResult">
		SELECT * FROM(SELECT * FROM TB_USER WHERE USER_LEVEL IN (1,2) ORDER BY ROWNUM DESC )
	</select>
	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM TB_USER WHERE USER_DELETE='N' AND USER_LEVEL IN (1,2)
	</select>
	
	<select id="selectListCount" parameterType="_int" resultType="_int" >
		SELECT COUNT(*) FROM TB_USER WHERE USER_LEVEL IN (1,2)
		<if test="num==1">AND ACCEPT='Y' AND USER_DELETE='N'</if>
		<if test="num==2">AND ACCEPT='N'</if>
		<if test="num==3">AND USER_DELETE='Y'</if>
	</select>
	
	<select id="selectList" parameterType="_int" resultMap="MemberResult">
		SELECT * FROM (SELECT * FROM TB_USER WHERE USER_LEVEL IN (1,2) ORDER BY ROWNUM DESC )
		<where>
			<if test="num==1">AND ACCEPT='Y' AND USER_DELETE='N'</if>
			<if test="num==2">AND ACCEPT='N'</if>
			<if test="num==3">AND USER_DELETE='Y'</if>
		</where>
	</select>
	
	<select id="searchListCount" resultType="_int">
		SELECT COUNT(*) FROM TB_USER WHERE USER_LEVEL IN (1,2)
		<if test="num==0">AND (ACCEPT='Y' OR ACCEPT='N')
			<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
			<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
			<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
			<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
			<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
			<if test="so.aptName != null">AND APT_NAME LIKE '%' || #{so.aptName} || '%'</if>
		</if>
		<if test="num==1">AND ACCEPT='Y' AND USER_DELETE='N'
			<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
			<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
			<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
			<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
			<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
			<if test="so.aptName != null">AND APT_NAME LIKE '%' || #{so.aptName} || '%'</if>
		</if>
		<if test="num==2">AND ACCEPT='N'
			<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
			<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
			<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
			<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
			<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
			<if test="so.aptName != null">AND APT_NAME LIKE '%' || #{so.aptName} || '%'</if>
		</if>
		<if test="num==3">AND USER_DELETE='Y'
			<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
			<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
			<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
			<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
			<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
			<if test="so.aptName != null">AND APT_NAME LIKE '%' || #{so.aptName} || '%'</if>
		</if>
	</select>
	
	<select id="searchList" resultMap="MemberResult">
		SELECT * FROM (SELECT * FROM TB_USER WHERE USER_LEVEL IN (1,2) ORDER BY ROWNUM DESC )
		<where>
			<if test="num==0">AND (ACCEPT='Y' OR ACCEPT='N')
				<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
				<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
				<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
				<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
				<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
				<if test="so.aptName != null">AND APT_NAME LIKE '%' || #{so.aptName} || '%'</if>
			</if>
			<if test="num==1">AND ACCEPT='Y' AND USER_DELETE='N'
				<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
				<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
				<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
				<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
				<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
				<if test="so.aptName != null">AND APT_NAME LIKE '%' || #{so.aptName} || '%'</if>
			</if>
			<if test="num==2">AND ACCEPT='N'
				<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
				<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
				<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
				<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
				<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
				<if test="so.aptName != null">AND APT_NAME LIKE '%' || #{so.aptName} || '%'</if>
			</if>
			<if test="num==3">AND USER_DELETE='Y'
				<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
				<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
				<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
				<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
				<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
				<if test="so.aptName != null">AND APT_NAME LIKE '%' || #{so.aptName} || '%'</if>
			</if>
		</where>
	</select>
	
	<select id="levelCount" resultMap="levelResult">
		SELECT NVL(COUNT(DECODE(USER_LEVEL,'1',1,NULL)),0) LV1, NVL(COUNT(DECODE(USER_LEVEL,'2',1,NULL)),0) LV2
		FROM TB_USER
		WHERE ACCEPT='N'
	</select>
	
	<resultMap type="LevelCount" id="levelResult">
		<id column="LV1" property="lv1" />
		<result column="LV2" property="lv2"/>
	</resultMap>
	
	<select id="AcceptCount" resultType="_int">
		SELECT COUNT(*) FROM TB_USER WHERE ACCEPT='N'
	</select>
	
	<select id="AcceptList" resultMap="MemberResult">
		SELECT * FROM TB_USER WHERE ACCEPT='N'
	</select>
	
	<select id="AcceptSelectCount" resultType="_int">
		SELECT COUNT(*) FROM TB_USER WHERE ACCEPT='N'
		<if test="num==2">
			AND USER_LEVEL = 2
		</if>
		<if test="num==3">
			AND USER_LEVEL = 1
		</if>
	</select>
	
	<select id="AcceptSelectList" resultMap="MemberResult">
		SELECT * FROM TB_USER WHERE ACCEPT='N'
		<if test="num==2">
			AND USER_LEVEL = 2
		</if>
		<if test="num==3">
			AND USER_LEVEL = 1
		</if>
	</select>
	
	<select id="searchAcceptCount" resultType="_int">
		SELECT COUNT(*) FROM TB_USER WHERE ACCEPT='N'
		<if test="num==1">
			<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
			<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
			<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
			<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
			<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
			<if test="so.aptName != null">AND APT_NAME LIKE '%' || #{so.aptName} || '%'</if>
		</if>
		<if test="num==2">AND USER_LEVEL=2
			<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
			<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
			<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
			<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
			<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
			<if test="so.aptName != null">AND APT_NAME LIKE '%' || #{so.aptName} || '%'</if>
		</if>
		<if test="num==3">AND USER_LEVEL=1
			<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
			<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
			<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
			<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
			<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
			<if test="so.aptName != null">AND APT_NAME LIKE '%' || #{so.aptName} || '%'</if>
		</if>
	</select>
	
	<select id="searchAcceptList" resultMap="MemberResult">
		SELECT * FROM TB_USER WHERE ACCEPT='N'
		<if test="num==1">
			<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
			<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
			<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
			<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
			<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
			<if test="so.aptName != null">AND APT_NAME LIKE '%' || #{so.aptName} || '%'</if>
		</if>
		<if test="num==2">AND USER_LEVEL=2
			<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
			<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
			<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
			<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
			<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
			<if test="so.aptName != null">AND APT_NAME LIKE '%' || #{so.aptName} || '%'</if>
		</if>
		<if test="num==3">AND USER_LEVEL=1
			<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
			<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
			<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
			<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
			<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
			<if test="so.aptName != null">AND APT_NAME LIKE '%' || #{so.aptName} || '%'</if>
		</if>
	</select>
	
	<update id="MemberAccept" parameterType="map">
		UPDATE TB_USER SET ACCEPT='Y'
		WHERE USER_ID IN
		<foreach collection="array" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
	</update>
	
	<insert id="InsertAdmin">
		INSERT INTO TB_USER VALUES(#{userId},#{userPwd},null,#{nickName},#{phone},#{email},#{aptName},null,null,#{userFile},#{userLevel},sysdate,default,default)
	</insert>
	
	<delete id="MemberDelete">
		DELETE FROM TB_USER WHERE USER_ID IN
		<foreach collection="array" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
	</delete>
<!-- 관리사무소 시작 -->
	<select id="createCount" resultType="_int">
		SELECT COUNT(*) FROM TB_USER WHERE ACCEPT = 'N' AND APT_NAME = #{aptName}
	</select>	
	
	<select id="AptMemberCount" resultMap="MemberCount">
		SELECT COUNT(*) ALLP, NVL(COUNT(DECODE(ACCEPT,'Y',1,NULL)),0) ACCP,
               NVL(COUNT(DECODE(ACCEPT,'N',1,NULL)),0) DISACC, NVL(COUNT(DECODE(USER_DELETE,'Y',1,NULL)),0) DELP
		FROM TB_USER 
		WHERE USER_LEVEL = 1 AND APT_NAME = #{aptName}
	</select>
	
	<select id="AptMemberfiveList" resultMap="MemberResult">
		SELECT * FROM(SELECT * FROM TB_USER WHERE USER_LEVEL IN 1 AND ACCEPT = 'N' AND APT_NAME = #{aptName} ORDER BY ROWNUM DESC ) WHERE ROWNUM BETWEEN 1 AND 5
	</select>
	
	<select id="AptMemberlistCount" resultType="_int">
		SELECT COUNT(*) FROM TB_USER WHERE APT_NAME = #{aptName} AND USER_LEVEL = 1
			<if test="num == 1"></if>
			<if test="num == 2">AND ACCEPT = 'Y' AND USER_DELETE = 'N'</if>
			<if test="num == 3">AND ACCEPT = 'N'</if>
			<if test="num == 4">AND USER_DELETE = 'Y'</if>
	</select>
	
	<select id="AptMemberList" resultMap="MemberResult">
		SELECT * FROM TB_USER WHERE APT_NAME = #{aptName} AND USER_LEVEL = 1
		<if test="num == 1"></if>
		<if test="num == 2">AND ACCEPT = 'Y' AND USER_DELETE = 'N'</if>
		<if test="num == 3">AND ACCEPT = 'N'</if>
		<if test="num == 4">AND USER_DELETE = 'Y'</if>
	</select>
	
	<select id="AptAdminMemberSearchCount" resultType="_int">
		SELECT COUNT(*) FROM TB_USER WHERE APT_NAME = #{aptName} AND USER_LEVEL = 1
		<if test="num == 1">
			<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
			<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
			<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
			<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
			<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
		</if>
		<if test="num == 2">AND ACCEPT = 'Y' AND USER_DELETE = 'N'
			<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
			<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
			<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
			<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
			<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
		</if>
		<if test="num == 3">AND ACCEPT = 'N'
			<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
			<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
			<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
			<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
			<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
		</if>
		<if test="num == 4">AND USER_DELETE = 'Y'
			<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
			<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
			<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
			<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
			<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
		</if>
	</select>
	
	<select id="AptAdminMemberSearchList" resultMap="MemberResult">
		SELECT * FROM TB_USER WHERE APT_NAME = #{aptName} AND USER_LEVEL = 1
		<if test="num == 1">
			<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
			<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
			<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
			<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
			<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
		</if>
		<if test="num == 2">AND ACCEPT = 'Y' AND USER_DELETE = 'N'
			<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
			<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
			<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
			<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
			<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
		</if>
		<if test="num == 3">AND ACCEPT = 'N'
			<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
			<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
			<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
			<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
			<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
		</if>
		<if test="num == 4">AND USER_DELETE = 'Y'
			<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
			<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
			<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
			<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
			<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
		</if>
	</select>
	
	<select id="AptAdminAcceptCount" resultType="_int">
		SELECT COUNT(*) FROM TB_USER 
		WHERE ACCEPT = 'N' AND USER_LEVEL = 1 AND APT_NAME = #{aptName} 
	</select>
	
	<select id="AptAdminAcceptList" resultMap="MemberResult">
		SELECT * FROM TB_USER
		WHERE ACCEPT = 'N' AND USER_LEVEL = 1 AND APT_NAME = #{aptName}
	</select>
	
	<update id="AptAdminAccept">
		UPDATE TB_USER SET ACCEPT = 'Y' 
		WHERE USER_ID IN 
		<foreach collection="array" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
	</update>
	
	<delete id="AptAdminDelete">
		DELETE FROM TB_USER 
		WHERE USER_ID IN
		<foreach collection="array" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
	</delete>
	
	<select id="AptAdminSearchCount" resultType="_int">
		SELECT COUNT(*) FROM TB_USER
		WHERE APT_NAME = #{aptName}
		<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
		<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
		<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
		<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
		<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
	</select>
	
	<select id="AptAdminSearchList" resultMap="MemberResult">
		SELECT * FROM TB_USER
		WHERE APT_NAME = #{aptName}
		<if test="so.userId != null">AND USER_ID LIKE '%' || #{so.userId} || '%'</if>
		<if test="so.nickName != null">AND NICKNAME LIKE '%' || #{so.nickName} || '%'</if>
		<if test="so.userName != null">AND USER_NAME LIKE '%' || #{so.userName} || '%'</if>
		<if test="so.phone != null">AND PHONE LIKE '%' || #{so.phone} || '%'</if>
		<if test="so.email != null">AND EMAIL LIKE '%' || #{so.email} || '%'</if>
	</select>
	
	<update id="AdminAptMemberDelete">
		UPDATE TB_USER SET USER_DELETE='Y'
		WHERE USER_ID = #{userId}
	</update>
</mapper>
