<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<select id="dupid" resultType="_int">
		SELECT COUNT(*) FROM TB_USER WHERE USER_ID = #{id}
	</select>
	
	<insert id="InsertMember">
		INSERT INTO TB_USER VALUES(#{userId},#{userPwd},#{userName},#{nickName},#{phone},#{email},#{aptName},#{aptDong},#{aptHosu},#{userLevel},#{userFile},default,'N')
	</insert>
</mapper>
