<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myPageMapper">
    <update id="memberUpdate">
        update tb_user
        set user_name = #{userName},
        nickname = #{nickName},
        phone = #{phone},
        email = #{email},
        apt_name = #{aptName},
        apt_dong = #{aptDong},
        apt_hosu = #{aptHosu}
        <if test="userPwd != ''">
            ,user_pwd = #{userPwd}
        </if>
        where user_id = #{userId} AND user_delete = 'N'
    </update>
    <update id="imageUpdate">
    	update tb_user
    	set user_file = #{userFile}
    	where user_id = #{userId} AND user_delete = 'N'
    </update>
    <insert id="insertBreakfast">
    	insert into tb_meal
    	values(#{userId}, #{rDate}, #{rTime}, #{rOption})
    </insert>
    <resultMap type="Meal" id="MealResultMap">
    	<result property="userId" column="user_id"/>
    	<result property="rDate" column="r_date"/>
    	<result property="rTime" column="r_time"/>
    	<result property="rOption" column="r_option"/>
    </resultMap>
    <select id="selectBreakfast" resultMap="MealResultMap">
    	select * from tb_meal
    	where user_id = #{userId} and r_date > sysdate-1
    </select>
    <select id="getListCount" resultType="_int">
    	select count(*)
    	from tb_board
    	where user_id = #{userId}
    </select>
    <resultMap type="MyBoard" id="MyBoardResultSet">
    	<id property="boardNo" column="board_no"/>
    	<result property="boardTitle" column="board_title"/>
    	<result property="createDate" column="create_date"/>
    	<result property="free" column="free"/>
    	<result property="market" column="market"/>
    	<result property="club" column="club"/>
    	<result property="clubNotice" column="club_notice"/>
    </resultMap>
    <select id="getBoardList" resultMap="MyBoardResultSet">
    	select b.board_no, b.board_title, b.create_date, f.board_no free, m.board_no market, c.board_no club, cn.board_no club_notice
		from tb_board b
		LEFT JOIN tb_free f
		    ON(b.board_no = f.board_no)
		LEFT JOIN tb_market m
		    ON(b.board_no = m.board_no)
		LEFT JOIN tb_club c
		    ON(b.board_no = c.board_no)
		LEFT JOIN tb_club_notice cn
		    ON(b.board_no = cn.board_no)
		where b.user_id = #{userId} and board_delete = 'N'
    </select>
    <select id="getCommentListCount" resultType="_int">
    	select count(*)
    	from tb_comment
    	where user_id = #{userId}
    </select>
    <resultMap type="MyComment" id="MyCommentResultSet">
    	<id property="replyNo" column="reply_no"/>
    	<result property="boardNo" column="board_no"/>
    	<result property="noticeNo" column="notice_no"/>
    	<result property="voteId" column="vote_id"/>
    	<result property="replyContent" column="reply_content"/>
    	<result property="commentDate" column="comment_date"/>
    	<result property="type" column="type"/>
    </resultMap>
    <select id="getCommentList" resultMap="MyCommentResultSet">
    	select c.reply_no, c.board_no, c.notice_no, c.vote_id, c.reply_content, c.comment_date, CASE 
                                                                WHEN f.board_no != null THEN '자유'
                                                                WHEN m.board_no != null THEN '중고장터'
                                                                WHEN cl.board_no != null THEN '동호회'
                                                                WHEN cn.board_no != null THEN '동호회 공지'
                                                                WHEN nc.notice_no != null THEN '공지'
                                                                WHEN v.vote_id != null THEN '투표'
                                                                END as type
		from tb_comment c
		LEFT JOIN tb_free f
		    ON(c.board_no = f.board_no)
		LEFT JOIN tb_market m
		    ON(c.board_no = m.board_no)
		LEFT JOIN tb_club cl
		    ON(c.board_no = cl.board_no)
		LEFT JOIN tb_club_notice cn
		    ON(c.board_no = cn.board_no)
		LEFT JOIN tb_notice nc
		    ON(c.notice_no = nc.notice_no)
		LEFT JOIN tb_vote v
		    ON(c.vote_id = v.vote_id)
		where c.user_id = #{userId} and c.comments_delete = 'N'
    </select>
    <insert id="insertQnA">
    	insert into tb_qna
    	values(SEQ_QNA.NEXTVAL, #{QNATitle}, #{QNAContent}, #{userId}, default, default)
    </insert>
    <insert id="insertQnAFileName">
    	insert all 
    	into tb_qna
    	values(SEQ_QNA.NEXTVAL, #{QNATitle}, #{QNAContent}, #{userId}, default, default)
    	into tb_file
    	values(SEQ_FILE.NEXTVAL, null, #{QNAFileName}, null, SEQ_QNA.CURRVAL)
    	select * from dual
    </insert>
    <select id="getQnAListCount" resultType="_int">
    	select count(*) from tb_QnA where user_id = #{userId}
    </select>
   	<resultMap type="MyQnA" id="MyQnAResultSet">
    	<id property="QNAId" column="QnA_id"/>
    	<result property="QNATitle" column="QnA_title"/>
    	<result property="QNAContent" column="QnA_content"/>
    	<result property="userId" column="user_id"/>
    	<result property="QNADate" column="QnA_date"/>
    	<result property="QNAFileName" column="file_name"/>
    	<result property="deleteYN" column="DELETE_YN"/>
    </resultMap>
    <select id="getQnAList" resultMap="MyQnAResultSet">
    	select QNA_ID, QNA_TITLE, QNA_CONTENT, USER_ID, QNA_DATE, FILE_NAME, DELETE_YN
    	from tb_QnA
    	left join tb_file
    	using(QNA_ID)
    	where user_id = #{userId}
    </select>
</mapper>