<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myPageMapper">
    <update id="memberUpdate">
        update tb_user
        set user_name = #{userName},
        nickname = #{nickName},
        phone = #{phone},
        email = #{email},
        apt_name = #{aptName},
        apt_dong = #{aptDong},
        apt_hosu = #{aptHosu}
        <if test="userPwd != ''">
            ,user_pwd = #{userPwd}
        </if>
        where user_id = #{userId} AND user_delete = 'N'
    </update>
</mapper>