<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="NoticeMapper">
    
    <!-- 공지사항 작성 / 파일이 있을 경우 없을 경우 -->
    <insert id="insertNotice">
    <if test="renameFileName != null">
    	insert all 
    	into tb_notice values(SEQ_NOTICE.nextval, #{userId}, #{nTitle}, #{nContent}, SYSDATE, DEFAULT, DEFAULT)
    	into tb_file values(SEQ_FILE.nextval, NULL, #{renameFileName}, SEQ_notice.currval, NULL)
    	select *
   		 	from dual
    </if>
     <if test="renameFileName == null">
    	insert all 
    	into tb_notice values(SEQ_NOTICE.nextval, #{userId}, #{nTitle}, #{nContent}, SYSDATE, DEFAULT, DEFAULT)
    	into tb_file values(SEQ_FILE.nextval, NULL, NULL, SEQ_notice.currval, NULL)
    	select *
   		 	from dual
    </if>
    </insert>
    
    <!-- 공지사항 전체 글 갯수 가져오기 -->
    <select id="getNoticeListCount" resultType="_int">
		select count(*)
		from tb_notice
		where notice_delete = 'N'
	</select>
	
	<!-- 공지사항 목록 불러오기 -->
	<select id="selectList" resultMap="noticeResultSet">
		select *
		from tb_notice
		where notice_delete = 'N'
		order by notice_no desc
	</select>
	
	<resultMap type="Notice" id="noticeResultSet">
		<id property="nNo" column="NOTICE_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="nTitle" column="NOTICE_TITLE"/>
		<result property="nContent" column="NOTICE_CONTENT"/>
		<result property="nCreateDate" column="NOTICE_DATE"/>
		<result property="nStatus" column="NOTICE_DELETE"/>
		<result property="nCount" column="NOTICE_COUNT"/>
<!-- 		<result property="renameFileName" column="FILE_NAME"/> -->
<!-- 		<result property="nModifyDate" column="?"/> -->
<!-- 		<result property="originalFileName" column="?"/> -->
	</resultMap>
	
	<!-- 게시글 조회 카운트 -->
	<update id="addReadCount">
		update tb_notice
		set notice_count = notice_count +1
		where notice_no = #{nNo}
	</update>
	
	<!-- 게시글 상세보기 -->
	<select id="selectNotice" resultMap="noticeResultSet2">
		select notice_no, user_id, notice_title, notice_content, notice_date, notice_count, nickname, user_file, file_name
		from tb_notice
           join tb_user using(user_id)
           join tb_file using(notice_no)
		where notice_no = #{nNo} and notice_delete = 'N'
	</select>
	
	<resultMap type="Notice" id="noticeResultSet2">
		<id property="nNo" column="NOTICE_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="nTitle" column="NOTICE_TITLE"/>
		<result property="nContent" column="NOTICE_CONTENT"/>
		<result property="nCreateDate" column="NOTICE_DATE"/>
		<result property="nCount" column="NOTICE_COUNT"/>
		<result property="noticeNickname" column="NICKNAME"/>
		<result property="renameFileName" column="FILE_NAME"/><!-- 업로드 파일 -->
		<result property="noticeFile" column="USER_FILE"/><!--프로필사진  -->
	</resultMap>
	
	
</mapper>