<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="NoticeMapper">
    <insert id="insertNotice">
    <if test="renameFileName != null">
    	insert all 
    	into tb_notice values(SEQ_NOTICE.nextval, #{userId}, #{nTitle}, #{nContent}, SYSDATE, DEFAULT)
    	into tb_file values(SEQ_FILE.nextval, NULL, #{renameFileName}, SEQ_notice.currval)
    	select *
   		 	from dual
    </if>
     <if test="renameFileName == null">
    	insert all 
    	into tb_notice values(SEQ_NOTICE.nextval, #{userId}, #{nTitle}, #{nContent}, SYSDATE, DEFAULT)
    	into tb_file values(SEQ_FILE.nextval, NULL, NULL, SEQ_notice.currval)
    	select *
   		 	from dual
    </if>
    </insert>
    <select id="getNoticeListCount" resultType="_int">
		select count(*)
		from tb_notice
		where notice_delete = 'N'
	</select>
	<select id="selectList" resultMap="noticeResultSet">
		select *
		from tb_notice
		where notice_delete = 'N'
		order by notice_no desc
	</select>
	
	<resultMap type="Notice" id="noticeResultSet">
		<id property="nNo" column="NOTICE_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="nTitle" column="NOTICE_TITLE"/>
		<result property="nContent" column="NOTICE_CONTENT"/>
		<result property="nCreateDate" column="NOTICE_DATE"/>
		<result property="nStatus" column="NOTICE_DELETE"/>
<!-- 		<result property="nCount" column=""/> -->
<!-- 		<result property="nModifyDate" column=""/> -->
<!-- 		<result property="originalFileName" column=""/> -->
<!-- 		<result property="renameFileName" column=""/> -->
	</resultMap>
	
</mapper>