<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.www.Apart.model.vo.Apart" alias="Apart"/>
		<typeAlias type="com.kh.www.Member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.www.Notice.model.vo.Notice" alias="Notice"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/Apart-mapper.xml"/>
		<mapper resource="mappers/myPage-mapper.xml"/>
		<mapper resource="mappers/Notice-mapper.xml"/>
		<mapper resource="mappers/free-mapper.xml"/>
	</mappers>
	




</configuration>
