<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.www.Apart.model.vo.Apart" alias="Apart"/>
		<typeAlias type="com.kh.www.Member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.www.Notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.kh.www.freeBoard.model.vo.FreeBoard" alias="FreeBoard"/>
		<typeAlias type="com.kh.www.club.model.vo.Club" alias="Club"/>
		<typeAlias type="com.kh.www.myPage.model.vo.Meal" alias="Meal"/>
		<typeAlias type="com.kh.www.myPage.model.vo.MyBoard" alias="MyBoard"/>
		<typeAlias type="com.kh.www.common.model.vo.Comment" alias="Comment"/>
		<typeAlias type="com.kh.www.Member.model.vo.MemberCount" alias="MemberCount"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/Apart-mapper.xml"/>
		<mapper resource="mappers/Member-mapper.xml"/>
		<mapper resource="mappers/myPage-mapper.xml"/>
		<mapper resource="mappers/Notice-mapper.xml"/>
		<mapper resource="mappers/club-mapper.xml"/>
		<mapper resource="mappers/free-mapper.xml"/>
	</mappers>
	


</configuration>