<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:root-context.xml
			/WEB-INF/spring/security.xml
		</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<!-- 한글깨짐 방지 인코딩 -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 공용 에러페이지 등록 -->
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/views/common/errorPage.jsp</location>
    </error-page>
    <!-- 기본  -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- 마이페이지  -->
	<servlet>
		<servlet-name>myPageServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/myPage-context.xml</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>myPageServlet</servlet-name>
		<url-pattern>*.my</url-pattern>
	</servlet-mapping>
	<!-- 멤버  -->
	<servlet>
		<servlet-name>MemberServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/Member-context.xml</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MemberServlet</servlet-name>
		<url-pattern>*.me</url-pattern>
	</servlet-mapping>
	<!-- 아파트  -->
	<servlet>
		<servlet-name>ApartServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/Apart-context.xml</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ApartServlet</servlet-name>
		<url-pattern>*.apt</url-pattern>
	</servlet-mapping>
	<!-- 동호회  -->
	<servlet>
		<servlet-name>ClubServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/Club-context.xml</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ClubServlet</servlet-name>
		<url-pattern>*.cb</url-pattern>
	</servlet-mapping>
	<!-- 자유게시판  -->
	<servlet>
		<servlet-name>FreeBoardServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/freeBoard-context.xml</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FreeBoardServlet</servlet-name>
		<url-pattern>*.fr</url-pattern>
	</servlet-mapping>
	
	<!-- 공지사항  -->
	<servlet>
		<servlet-name>NoticeServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/Notice-context.xml</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>NoticeServlet</servlet-name>
		<url-pattern>*.no</url-pattern>
	</servlet-mapping>

	<!--관리자  -->
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/admin-context.xml</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>*.adm</url-pattern>
	</servlet-mapping>
	
	<!-- 중고장터  -->
	<servlet>
		<servlet-name>MarketServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/Market-context.xml</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MarketServlet</servlet-name>
		<url-pattern>*.ma</url-pattern>
	</servlet-mapping>
	

	<!-- 동호회공지사항  -->
	<servlet>
		<servlet-name>ClubNoticeServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/ClubNotice-context.xml</param-value>
		</init-param>
	</servlet>	
	
	<servlet-mapping>
		<servlet-name>ClubNoticeServlet</servlet-name>
		<url-pattern>*.cn</url-pattern>
	</servlet-mapping>
	
	<!-- 메인화면 -->
	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/Main-context.xml</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>*.main</url-pattern>
	</servlet-mapping>
	
	<!-- 투표 -->
	<servlet>
		<servlet-name>VoteServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/Vote-context.xml</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>VoteServlet</servlet-name>
		<url-pattern>*.vo</url-pattern>
	</servlet-mapping>
	
	<!-- 댓글 -->
	<servlet>
		<servlet-name>CommentServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/Comment-context.xml</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CommentServlet</servlet-name>
		<url-pattern>*.co</url-pattern>
	</servlet-mapping>
</web-app>